html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background-color: #FAF8FF ;
    font-family: "Montserrat", serif;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 1.5rem 1.5rem;
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: rgb(232, 231, 231);
}
.logo{
    font-size: 1.8rem;
    margin-left: 1rem;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}
.logo:hover{
    transition: 0.5s ease;
    transform: scale(1.3);
    text-shadow: 0 0 15px rgb(25, 7, 48);
}

.navbar a{
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 2.5rem;
    font-weight: 500;
    transition: transform 0.3s ease;
    border-bottom: 3px solid transparent;
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    text-shadow: 0 0 15px rgb(25, 7, 48);
}

section{
    min-height: 100vh;
    padding: 1rem 5% 1rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    text-shadow: 0 0 7px rgb(25, 7, 48);
    transition: 0.5s ease;
}
.home-content h1:hover{
    cursor: default;
    text-shadow: 0 0 20px rgb(25, 7, 48);
}
.home-content h1 span{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    text-shadow: 0 0 0;
    cursor: default;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 22vw;
    box-shadow: 0 0 25px rgb(25, 7, 48);
    transition: 0.6s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px rgb(25, 7, 48),
                0 0 50px rgb(25, 7, 48);
}
.social-icons a{
    display: block;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    font-size: 2.5rem;
    margin: 3rem 1.5rem 3rem 0;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: grey;
    box-shadow: 0 0 25px grey;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.7s ease-in-out;
    text-decoration: none;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px rgb(25, 7, 48);
}
.btn-grp{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
.objective{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 600;
}
.objective span{
    font-size: 1.9rem;
    font-weight: 700;
}
.home-logo{
    display: flex;
    flex-wrap: wrap;
    background-color: #FAF8FF;
    color: #FAF8FF;
    gap:10rem
}
.edu-logo{
    filter: drop-shadow(1px 1px 1px rgb(25, 7, 48));
    transition: 0.1s ease-out;
    padding: 10px; 
}
.edu-logo:hover{
    filter: drop-shadow(3px 3px 3px rgb(25, 7, 48));
}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Data Scientist.";
    color: black;
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: #FAF8FF;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #FAF8FF;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid rgb(25, 7, 48);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Data Scientist.";
    }
    21%,
    40%{
        content: "Data Analyst.";
    }
    41%,
    60%{
        content: "Data Engineer.";
    }
    61%,
    80%{
        content: "AI/ML Engineer.";
    }
    81%,
    100%{
        content: "Software Engineer.";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.about {
    position: relative;
}

.watermark {
    position: absolute;
    top: 60%;  
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 10; 
}

.watermark img {
    display: block; 
    width: 500px; 
    height: auto;
}


.heading{
    font-size: 4rem;
    margin: 5rem 0;
    text-shadow: 0 0 5px rgb(25, 7, 48);
    transition: 0.5s ease-in-out;
    position: relative;
}
.heading:hover{
    text-shadow: 0 0 30px rgb(25, 7, 48);
    cursor: default;
}
.skills-info h4{
    font-size: 2rem;
}
.skills-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
}
.skills-info{
    height: 225px;
    background-color: rgb(26, 26, 29);
    color: #FAF8FF;
    padding-left: 1rem;
    box-shadow: 0 0 10px rgb(25, 7, 48); 
    font-size: 1.5rem;
    cursor: default;
    transition: 0.6s ease-in-out;
}
.skills-info:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px rgb(25, 7, 48);
}
.skill-icon{
    margin-right: 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 5px #FAF8FF;
    cursor: default;
}
.skill-icon:hover{
    box-shadow: 0 0 15px #FAF8FF;
    transform: scale(1.1);
}
.experience-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1.75rem;
    margin-top: 1rem;
    border-top: 2px solid rgb(25, 7, 48);
}
.time-skill-container{
    padding-left:0;
}
.each-skill{
    display: grid;
    grid-template-columns: 110px 110px 110px;
    gap: 1rem;
}
.each-skill h5{
    background-color: rgb(25, 7, 48);
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(25, 7, 48);
    color: #FAF8FF;
    padding: 3px;
    transition: 0.4s ease-in;
    cursor: default;
}
.each-skill h5:hover{
    box-shadow: 0 0 30px rgb(25, 7, 48);
}

.experience-info p{
    margin-left: -100px;
    text-align: justify;
    padding-right: 10px;

}

.edu-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.edu-box{
    border: 2px solid rgb(25, 7, 48);
    padding: 20px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.edu-box img{
    margin-top: -2rem;
    filter: drop-shadow(1px 1px 1px rgb(25, 7, 48));
    transition: 0.25s ease-out;
}
.edu-box img:hover{
    filter: drop-shadow(5px 5px 5px rgb(25, 7, 48));
}
.contact-info{
    display: block;
    margin: auto;
    box-shadow: 0 0 5px rgb(25, 7, 48);
    padding: 10px;
    width: 350px;
}
.contact-info i{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.contact-icons a{
    text-decoration: none;
    font-size: 3rem;
}
.contact-icons{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.contact-icons a:visited{
    color: black;
}
.info-ele1{
    display: flex;
    gap:1.5rem;
    font-size: 1.5rem;
    justify-content: center;
}
.info-ele1 a{
    text-decoration: none;
    font-size: 2rem;
}
html{
    scroll-behavior: smooth;
}
.about-container{
    display: flex;
    justify-content: space-between;
    gap: 15rem;

}
.about-content{
    font-size: 2.5rem;
    text-align: justify;
}
.about-photo{
    box-shadow: 0 0 10px rgb(25, 7, 48);
    transition: 0.5s ease-in-out;
    position: relative;
}
.about-photo:hover{
    box-shadow: 0 0 25px rgb(25, 7, 48),
                0 0 50px rgb(25, 7, 48);
}

.project-container{
    display: flex;
    justify-content: space-between;
    gap:3rem
}
.project-card{
    box-shadow: 0 0 10px rgb(25, 7, 48);
    transition: 0.5s ease-in-out;
    position: relative;
    padding: 2rem;
    font-size: 13px;
    height: 470px;
    width: 250px;
}
.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space based on content size */
}
.project-card:hover{
    box-shadow: 0 0 25px rgb(25, 7, 48),
                0 0 50px rgb(25, 7, 48);
}

.project-card h3{
    text-align: left;
}
.project-image{
    text-align: center;
}
.btn-pr{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: grey;
    box-shadow: 0 0 25px grey;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.7s ease-in-out;
    text-decoration: none;
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
}
.btn-pr:hover{
    transform: scale(1.01);
    box-shadow: 0 0 25px rgb(25, 7, 48);
}